<div class="row">
	<div class="col-xs-9"> 
	<h5> 	
		<%if(dets.length === 0 ){%>
			<%=comment.get('content')%>
		<%} else {%>
				<%=comment.get('content').substr(0, dets[0][2])%>
				<%for(var i = 0; i< dets.length; i++){%>
					<a href="#/users/<%=dets[i][0]%>"><%=comment.get("content").substring(dets[i][2], dets[i][3])%></a>
					<%if(i+1 < dets.length){%>
						<%= comment.get("content").substring(dets[i][3],dets[i+1][2] )%>
					<%} else {%>
						<%= comment.get("content").substr(dets[i][3])%>
					<%}%>
				<%}%>
		<%}%>
		<br> 
		<strong >Posted By 
		<% if(comment.get('username')){%>
			<a href="#/users/<%=comment.get('user_id')%>"><%= comment.get('username')%> </a>
		<%} else { %>
			You
		<%}%>
		</strong>
	</h5>
	</div>
	<div class="col-xs-2 singlecomment">
		<%if(comment.get('user_id') === $("#currentUser").data().id) {%>
			<button class="btn cancel-button btn-mini" id="remove-comment"> X </button>
		<%} %>
	</div>
</div>