<li class="expandPost compressedPost"  
		data-id="<%=post.id%>"
		data-color="<%=color%>"
		style="background-color:<%=color%>;-webkit-box-shadow:0 0 20px <%=color%>; 
  					-moz-box-shadow: 0 0 20px <%=color%>; box-shadow:0 0 20px <%=color%>;">
	<h4>
		 <%=post.get('content')%>
	</h4>
</li>
