<!DOCTYPE html>
<html>
<head>
  <title>Specter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if flash[:errors]%>
	<ul id="errors">
	<%flash[:errors].each do |error|%>
		<li><%=error %> </li>
	<%end%>
	</ul>
<%end%>

<%= yield %>

<% verb = (logged_in? ? "Sign Out" : "Sign In")%>
<% location = (logged_in? ? session_url : new_session_url)%>
<% action = (logged_in? ? :delete : :get )%>

<!-- AR: no need for request.original_url -->
<% unless request.original_url == new_session_url %>
	<%= button_to verb, location, method: action %>
<% end %>

</body>
</html>
