<!DOCTYPE html>
<html>
<head>
  <title>Teacup</title>
	<meta name="title" content="Teacup">
	<meta name="description" content="a microblogging platform for the collective unconscious">
	<%= stylesheet_link_tag 'application' %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3?key=AIzaSyB0Dz_g1mvSJtos_wCR27A6JK2CTQZINN0&sensor=true&amp;libraries=places"></script>
	<link rel="shortcut icon" href="assets/teacup.png"/>
	<%= javascript_include_tag  'application'%>
</head>
<body>
<div id="currentUser" data-id="<%= current_user.id unless !current_user %>"></div>


<%= render partial: "layouts/header" %>

<%= yield %>

	

</body>
</html>

<div class="&sensor=false&amp;libraries=places">
	<div class="http://maps.googleapis.com/maps/api/js?key=AIzaSyB0Dz_g1mvSJtos_wCR27A6JK2CTQZINN0&sensor=false&amp;libraries=places"></div>